@import "tailwindcss";
@config "../tailwind.config.js";
@import "simplebar-react/dist/simplebar.min.css";
/* Cài đặt font mặc định */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #121212; /* Màu nền tối của Spotify */
  color: #ffffff; /* Màu chữ trắng */
  line-height: 1.5;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
